# General
.DS_Store
Thumbs.db
*.log

# Frontend-specific build & cache
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend-specific build & uploads
backend/node_modules/
backend/dist/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

# IDE configuration
.idea/
.vscode/
